<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout3-item}">
<th:block layout:fragment="css">
    <style>
        /* 전역 box-sizing 설정을 덮어씌우고 싶다면 !important 사용 */
        *,
        *::before,
        *::after {
            box-sizing: content-box !important;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function update_depth(){
            console.log("depth_change_detect")

            // 각 depth 요소 선택
            var $depth1 = $(".txtLight.txtLess.depth1");
            var $depth2 = $(".txtLight.txtLess.depth2");
            var $depth3 = $(".txtLight.txtLess.depth3");

            // if ($depth1.length === 0 ) {
            //     alert("카테고리 값을 선택해야 합니다.");
            //     return;
            // }

            var depth1 = $depth1.text().replace(' >', '');
            var depth2 = $depth2.text().replace(' >', '');
            var depth3 = $depth3.text().replace(' >', '');

            // $("#category").val("ItemCategory." + depth3);  추후에 itemccategory의 enum형태로 변경시에 이방식으로 저장.
            $("#mainCategory").val(depth1);
            $("#subCategory").val(depth2);
            $("#subSubCategory").val(depth3);




            console.log("depth flow test")
            console.log(depth1)
            console.log(depth2)
            console.log(depth3)
        }
    function change_category(message,title) {
        depthjudge = message.split('__')
        console.log("flow test")
        console.log(message)
    let selDepth1;
    let selDepth2;
    let selDepth3;
    if (depthjudge[0] == 'D_1' ) {
        console.log("title test-1")
        selDepth1 = title;
    }

    else if (depthjudge[0] == 'D_2A' || depthjudge[0] == 'D_2B' || depthjudge[0] == 'D_2C' ){
        selDepth2 = title;
        console.log("title test-2")
        console.log(selDepth2)
    }
    // TODO 지금은 예외처리도 안한 스크립트이지만 나중에 더 좋은 방법이 있으면 개선할 것. selDepth3를 지정하는 데 너무나 많은 or문이 추가되기 때문에 else로 하였음.
    else {
        console.log("title test-3")
        selDepth3 = title;
    }
    // 중분류,소분류 전체 hide()
    function Depth2_andDepth3Hide(){
        $("._A_childs , ._B_childs, ._C_childs, ._A_childs_0, ._A_childs_1, ._A_childs_2, ._A_childs_3, ._A_childs_4, ._A_childs_5, ._B_childs_0, ._B_childs_1, ._B_childs_2, ._B_childs_3, ._B_childs_4, ._C_childs_0, ._C_childs_1").hide();
    }
        switch (message) {
        // depth1은 대분류
            // 패션의류/잡화 클릭 했을 경우
            case "D_1__0":
                // 전부 hide()
                Depth2_andDepth3Hide();
                // 선택된 depth의 자식노드만 show
                $("._A_childs").show();

                $(".txtLight.txtLess.depth1").html(selDepth1 + ' > ')

                $(".txtLight.txtLess.depth1").show();
                $(".txtLight.txtLess.depth2").hide();
                $(".txtLight.txtLess.depth3").hide();
                $("._product_category_checked").show();
                break;
            // 식품 클릭시
            case "D_1__1":
                // 전부 hide()
                Depth2_andDepth3Hide();
                // 선택된 depth의 자식노드만 show
                $("._B_childs").show();

                $(".txtLight.txtLess.depth1").html(selDepth1 + ' > ')
                $(".txtLight.txtLess.depth1").show();
                $(".txtLight.txtLess.depth2").hide();
                $(".txtLight.txtLess.depth3").hide();
                $("._product_category_checked").show();
                break;
            // 가전/디지털 클릭시
            case "D_1__2":
                // 전부 hide()
                Depth2_andDepth3Hide();
                // 선택된 depth의 자식노드만 show
                $("._C_childs").show();

                $(".txtLight.txtLess.depth1").html(selDepth1 + ' > ')
                $(".txtLight.txtLess.depth1").show();
                $(".txtLight.txtLess.depth2").hide();
                $(".txtLight.txtLess.depth3").hide();
                $("._product_category_checked").show();
                break;
            // 패션의류/잡화 -> 남성
            case "D_2A__0":
                Depth2_andDepth3Hide()
                $("._A_childs,._A_childs_0").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            // 패션의류/잡화 여성
            case "D_2A__1":
                Depth2_andDepth3Hide();
                $("._A_childs,._A_childs_1").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            // 패션의류/잡화 남녀공용
            case "D_2A__2":
                Depth2_andDepth3Hide();
                $("._A_childs,._A_childs_2").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            // 패션의류/잡화 가방/잡화
            case "D_2A__3":
                Depth2_andDepth3Hide();
                $("._A_childs,._A_childs_3").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            // 패션의류/잡화 신발
            case "D_2A__4":
                Depth2_andDepth3Hide();
                $("._A_childs,._A_childs_4").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;

            // 패션의류/잡화 아동
            case "D_2A__5":
                Depth2_andDepth3Hide();
                $("._A_childs,._A_childs_5").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            // 식품의 모든 노드는 depth2밖에 없으므로 중분류가 끝이다.
            case "D_2B__0":
                Depth2_andDepth3Hide();
                $("._B_childs,._B_childs_0").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            case "D_2B__1":
                Depth2_andDepth3Hide();
                $("._B_childs,._B_childs_1").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            case "D_2B__2":
                Depth2_andDepth3Hide();
                $("._B_childs,._B_childs_2").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            case "D_2B__3":
                Depth2_andDepth3Hide();
                $("._B_childs,._B_childs_3").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            case "D_2B__4":
                Depth2_andDepth3Hide();
                $("._B_childs,._B_childs_4").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            case "D_2C__0":
                Depth2_andDepth3Hide();
                $("._C_childs,._C_childs_0").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            // 컴퓨터/게임/SW는 자식이 없음.
            case "D_2C__1":
                Depth2_andDepth3Hide();
                $("._C_childs,._C_childs_1").show();

                $(".txtLight.txtLess.depth2").html(selDepth2 + ' > ')
                $(".txtLight.txtLess.depth2").show();
                $(".txtLight.txtLess.depth3").hide();
                break;
            //A0-5개 //A1-7개 //A2-2개 //A3-7개 //A4-5개 // B는 없고 C0만 2개
            case "D_3A0__0":
            case "D_3A0__1":
            case "D_3A0__2":
            case "D_3A0__3":
            case "D_3A0__4":
            case "D_3A1__0":
            case "D_3A1__1":
            case "D_3A1__2":
            case "D_3A1__3":
            case "D_3A1__4":
            case "D_3A1__5":
            case "D_3A1__6":
            case "D_3A2__0":
            case "D_3A2__1":
            case "D_3A3__0":
            case "D_3A3__1":
            case "D_3A3__2":
            case "D_3A3__3":
            case "D_3A3__4":
            case "D_3A3__5":
            case "D_3A3__6":
            case "D_3A4__0":
            case "D_3A4__1":
            case "D_3A4__2":
            case "D_3A4__3":
            case "D_3A4__4":
            case "D_3A5__0":
            case "D_3A5__1":
            case "D_3C0__0":
            case "D_3C0__1":
                $(".txtLight.txtLess.depth3").html(selDepth3 + ' > ')
                $(".txtLight.txtLess.depth3").show();

                break;
        }
    }


        $(document).ready(function() {
            // 페이지 로드 시, hidden input의 값을 가져와서 depth 요소에 설정
            var mainCategory = $("#mainCategory").val();
            var subCategory = $("#subCategory").val();
            var subSubCategory = $("#subSubCategory").val();

            var hasValues = false;

            if (mainCategory) {
                $(".txtLight.txtLess.depth1").text(mainCategory + " >");
                hasValues = true;
            }
            if (subCategory) {
                $(".txtLight.txtLess.depth2").text(subCategory + " >");
                hasValues = true;
            }
            if (subSubCategory) {
                $(".txtLight.txtLess.depth3").text(subSubCategory);
                hasValues = true;
            }

            // hidden input에 값이 있으면 display:none 속성을 제거
            if (hasValues) {
                $("._product_category_checked").removeAttr("style");
            }
            // 라디오 버튼 -> 옵션 사용 여부 변경
            $('input[name="has_option"]').on('change', function() {
                const val = $(this).val();
                toggleHasOption(val);
            });

            // chosen 라이브러리 초기화
            $('#eOptionSetF').chosen({
                allow_single_deselect: true,
                search_contains : true,
                no_results_text : "검색결과가 없습니다. : "
            });
            $('#eSavedOption').css('display','none');

            // 사용된 옵션에 옵션 처리
            // 1) 페이지 로드 후 템플릿을 변수에 보관
            let $optionTemplate;
            $optionTemplate = $('#eOptionCombineMatrixTemplate').clone(true);

            // 2) tbody .empty() 하기 전에, 템플릿을 미리 safe-keep
            //    그리고 #eOptionCombineMatrixTemplate 자체를 remove() or hide()
            $('#eOptionCombineMatrixTemplate').remove();


            // 사용된 옵션 출력
            // 1) select가 바뀔 때
            $('#eOptionSetF').on('change', function(){
                let setId = $(this).val();
                // (a) 기존 행들 제거
                $('#eOptionCombineMatrix').empty();

                // (b) 값이 없으면 종료
                if(!setId) return;

                // (c) AJAX로 /api/optionSet/{setId} 호출
                $.ajax({
                    url: '/api/optionSet/' + setId,
                    method: 'GET',
                    success: function(data){
                        // data = { id:..., name:"색상/사이즈", options:[ {id:101, name:"색상", values:["블랙","화이트"]}, ... ] }
                        if(!data || !data.options) return;
                        data.options.forEach(function(optDto){
                            addOptionRow(optDto);
                        });
                    },
                    error: function(xhr){
                        console.error("옵션세트 불러오기 실패:", xhr);
                    }
                });
                // =============== 사용된 옵션에서 옵션 이동 ===============
                // =============== 이동 버튼 클릭 핸들러 ==================

                // "위로 이동" 버튼
                $(document).on('click', '.optionMatrix .lv1Up', function(){
                    let $tr = $(this).closest('tr.optionMatrix');
                    let $prev = $tr.prev('.optionMatrix');
                    if($prev.length > 0) {
                        // 이전 행이 있으면, 그 앞에 붙여서 순서 교환
                        $prev.before($tr);
                        // 순서 갱신
                        refreshSortOrder();
                    }
                });

                // "아래로 이동" 버튼
                $(document).on('click', '.optionMatrix .lv1Down', function(){
                    let $tr = $(this).closest('tr.optionMatrix');
                    let $next = $tr.next('.optionMatrix');
                    if($next.length > 0) {
                        // 다음 행이 있으면, 그 뒤에 붙여서 순서 교환
                        $next.after($tr);
                        // 순서 갱신
                        refreshSortOrder();
                    }
                });

        });

        function toggleHasOption(hasOption) {
            if (hasOption === 'T') {
                console.log("togglehasOption start")
                //
                // 1) .mToggleBar.eToggle 에 selected 클래스 추가
                //
                $('.mToggleBar.eToggle').addClass('selected');
                //
                // 2), 3) 버튼 em 텍스트 "펼치기" -> "접기"
                //
                $('.mToggleBar.eToggle .ctrl button em').text('접기');
                //
                // 4) "사용함" 라벨 -> eSelected, "사용안함" 라벨 -> removeClass
                //
                $('#eOptionUseT').closest('label').addClass('eSelected');
                $('#eOptionUseF').closest('label').removeClass('eSelected');
                //
                // 5) 모든 .gDivision.eMultiProductStock -> display='table' (일단 전부 table) -- 이였으나.
                // 옵션구성방식과 옵션설정을 전부 구현할 시간적 여유가 없어서  임시로 display: table->none으로 지정
                // TODO: 추후에 조합 일체선택형,조합일체분리선택형,상품연동형,독립선택형... 구현가능할때 다시 display:table로 지정
                //
                $('.gDivision.eMultiProductStock').css('display','none');
                //
                // 6) eItemListingType -> display='none' (diff: none 유지)
                //
                $('#eItemListingType').css('display','none');
                //
                // 7) eOptionRegistType -> style="": diff에서 display: none -> (없음)
                // TODO: 추후에 다시 '' 으로 지정할것
                //
                $('#eOptionRegistType').css('display','none');
                //
                // 8) eSavedOption -> style=""
                //
                $('#eSavedOption').css('display','');
                //
                // 9), 11) .option-set-modify -> style="display:none"
                //
                $('.option-set-modify').css('display','none');
                //
                // 10) eOptionSetValuesT -> style="display:none"
                //
                $('#eOptionSetValuesT').css('display','none');
                //
                // 12) eSingleProductStock -> style="display:none"
                //
                $('#eSingleProductStock').css('display','none');
                //
                // 13) eItemListContainer -> style=""
                //
                $('#eItemListContainer').css('display','');

                //추가
                // 중복적용 - 추후 5) 7)개발이 다시 진행되면 주석을 풀거나 삭제
                // $('.gDivision.eMultiProductStock').css('display','table');
                $('#eItemListingType').css('display','none');
                // 중복적용 - 추후 5) 7)개발이 다시 진행되면 주석을 풀거나 삭제
                // $('#eOptionRegistType').css('display','');
                $('#eSavedOption').css('display','');
                $('.option-set-modify').css('display','none');
                $('#eOptionSetValuesT').css('display','none');
                $('#eSingleProductStock').css('display','none');
                $('#eItemListContainer').css('display','');

                // 1) "사용함"이어서 테이블을 보이게 했으면,
                //    Chosen 셀렉트들도 업데이트
                $('#eOptionSetF').trigger('chosen:updated');
                // 만약 #eOptionSetT 등 다른 select도 있다면
                // $('#eOptionSetT').trigger('chosen:updated');

            } else {
                // === "사용안함(F)" ===
                //
                // 1) .mToggleBar.eToggle: removeClass('selected')
                //
                $('.mToggleBar.eToggle').removeClass('selected');
                //
                // 2), 3) 버튼 em 텍스트 "접기" -> "펼치기"
                //
                $('.mToggleBar.eToggle .ctrl button em').text('펼치기');
                //
                // 4) "사용안함" 라벨 -> eSelected, "사용함" 라벨 -> removeClass
                //
                $('#eOptionUseT').closest('label').removeClass('eSelected');
                $('#eOptionUseF').closest('label').addClass('eSelected');
                //
                // 5) .gDivision.eMultiProductStock -> display='none'
                //
                $('.gDivision.eMultiProductStock').css('display','none');
                //
                // 6) eItemListingType -> display='none'
                //
                $('#eItemListingType').css('display','none');
                //
                // 7) eOptionRegistType -> display='none'
                //
                $('#eOptionRegistType').css('display','none');
                //
                // 8) eSavedOption -> display='none'
                //
                $('#eSavedOption').css('display','none');
                //
                // 9), 11) .option-set-modify -> 원래 상태 (보이게)
                //
                $('.option-set-modify').css('display','');
                //
                // 10) eOptionSetValuesT -> display=''
                //
                $('#eOptionSetValuesT').css('display','');
                //
                // 12) eSingleProductStock -> display='table'
                //
                $('#eSingleProductStock').css('display','table');
                //
                // 13) eItemListContainer -> display='none'
                //
                $('#eItemListContainer').css('display','none');


                $('.gDivision.eMultiProductStock').css('display','none');
                $('#eOptionSetValuesT').css('display','');
                $('#eSingleProductStock').css('display','table');
                $('#eItemListContainer').css('display','none');

                // (필요하면)
                $('#eOptionSetF').trigger('chosen:updated');
            }
        }
            // ===========================================
            //  (C) "모든 옵션 품목추가" 버튼 (#eEntireOption)
            //      -> 모든 옵션값 체크 후, 품목추가 처리
            // ===========================================
            $('#eEntireOption').on('click', function(e){
                e.preventDefault();

                // 1) 모든 체크박스 (._all_option_check 포함/제외) 전부 체크
                $('tr.optionMatrix').each(function(){
                    $(this).find('input.fChk').prop('checked', true);
                });

                // 2) 품목추가 로직
                const checkedItems = gatherCheckedOptionValues();
                console.log("checkedItems")
                console.log(checkedItems)
                createProductOption(checkedItems);
            });

            // ===========================================
            //  (D) "선택한 옵션 품목추가" 버튼 (#eSelectedOption)
            //      -> 현재 체크돼 있는 것만 품목추가 처리
            // ===========================================
            $('#eSelectedOption').on('click', function(e){
                e.preventDefault();

                const checkedItems = gatherCheckedOptionValues();
                createProductOption(checkedItems);
            });

            // ===========================================
            //  (E) 체크된 옵션 목록 수집 함수
            //      ex: [ {optionCode:'O000000A', values:['블랙','화이트']}, ... ]
            // ===========================================
            function gatherCheckedOptionValues(){
                let result = [];

                $('tr.optionMatrix').each(function(){
                    // let optionCode = $(this).attr('option_code');
                    // if(!optionCode) return; // 안전 체크

                    // 이 행에서 체크된 개별 옵션값들
                    let values = [];
                    $(this).find('input.fChk:not(._all_option_check):checked').each(function(){
                        values.push($(this).val());
                    });

                    if(values.length > 0) {
                        result.push({

                            values: values
                        });
                    }
                });

                return result;
            }

            // ===========================================
            //  (F) 상품옵션 생성
            // ===========================================
            function createProductOption(checkedItems) {
                // ajax를 위한 csrf토큰
                var csrfToken = $('meta[name="_csrf"]').attr('content');
                var csrfHeader = $('meta[name="_csrf_header"]').attr('content');


                // (1) 각 객체의 values 배열만 추출 → 2차원 배열
                let groups = checkedItems.map(item => item.values);
                console.log("전송할 옵션 그룹 데이터:", groups);

                // (2) 상품 아이템 ID가 있다면 (예: hidden input 등에서 가져오거나 변수에 저장)
                // 여기서는 예시로 하드코딩합니다.
                let itemId = 1;  // 실제 아이템 ID로 대체하세요.

                // (3) AJAX 요청: 서버에서 데카르트 곱(모든 옵션 조합)을 생성하는 API 호출
                $.ajax({
                    url: '/api/optionCombination/generate/' + itemId,  // 예: /api/optionCombination/generate/1
                    type: 'POST',
                    data: JSON.stringify({ groups: groups }),
                    contentType: 'application/json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(data) {
                        console.log("상품옵션 생성 결과:", data);
                        // (4) 성공 시 화면에 결과 출력 (예: renderProductOptions 함수 호출)
                        renderProductOptions(data);
                    },
                    error: function(xhr, status, error) {
                        console.error("상품옵션 생성 실패:", error);
                    }
                });
            }

            // ===========================================
            //  (G) 랜더링
            // ===========================================
            function renderProductOptions(optionCombinations) {
                // optionCombinations가 배열인지 확인
                if (!Array.isArray(optionCombinations)) {
                    console.error("전달받은 데이터가 배열이 아닙니다:", optionCombinations);
                    return;
                }

                optionCombinations.forEach(function(itemData, idx) {
                    // itemData는 { combination: "블랙-S" } 형태입니다.
                    let combination = itemData.combination;
                    // 순번을 idx+1로 지정 (원하는 형식으로 변경 가능)
                    let sequenceNum = idx + 1;

                    // 템플릿(#eItemRowTemplate) 복제
                    let $clone = $('#eItemRowTemplate').clone(true);

                    // 중복 ID 제거, 숨김 해제, 클래스 및 속성 부여
                    $clone.removeAttr('id')
                        .show()
                        .addClass('created-item-row')
                        .attr('option_compare', `옵션=${combination}`)
                        .attr('item-sequence', sequenceNum);

                    // 템플릿 내부 요소에 값 설정
                    $clone.find('.eItemSequnce').text(sequenceNum);
                    $clone.find('.eOptionValue').text(combination);
                    $clone.find('.eOptionValueHidden').val(combination);
                    $clone.find('.eOptionNameHidden').val('색상#$%사이즈'); // 필요에 따라 값을 변경

                    // 완성된 복제 템플릿을 #eItemList 내부에 삽입
                    $('#eItemList').append($clone);
                });
            }
        });
    </script>
</th:block>
<div layout:fragment="content">
    <div id="content">
        <div class="headingArea">
            <div class="mTitle">
                <h1>상품 등록</h1>

            </div>
        </div>

        <form id="eProductRegisterForm" role="form" method="post" enctype="multipart/form-data"  th:object="${itemFormDto}" onsubmit="update_depth()" >

            <div id="QA_register1" class="section">
                <div class="mToggleBar eToggle selected">
                    <h2>기본 정보</h2>
                    <div class="ctrl">

                    </div>
                </div>
                <div class="toggleArea" style="display: block;">
                    <div class="mBoard gSmall gDouble gGuide">
                        <table border="1" summary="">
                            <caption>간단 등록</caption>
                            <tbody>
                            <tr>
                                <th scope="row">상품명 <strong class="icoRequired">필수</strong></th>
                                <td>
                                    <div class="gIcoShop">

                                        <div class="overlapTip">
                                            <input type="text" name="itemNm" th:field="*{itemNm}" id="product_name" placeholder="예시) 플라워 미니 원피스, 원피스 1위상품" class="fText" fw-filter="isFill&amp;isMaxByte[250]" fw-label="상품명" style="width:340px;">

                                                <span class="edge"></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상품요약설명</th>
                                <td>
                                    <div class="gIcoShop">

                                        <input type="text" class="fText" th:field="*{itemDetail}" style="width:98%;" name="summary_desc" placeholder="예시) 주문폭주!! 페미닌한 원피스 Free, L, XL까지~~" value="" fw-filter="isMaxByte[120]" fw-label="상품요약설명">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">상품상세설명</th>
                                <td>
                                    <div class="gIcoShop">

                                        <div class="mTab typeTab">
                                            <ul class="tabs">
                                                <li class="selected" id="eTabNnedit"><a href="#tabCont1_2" id="nnedit">상세설명 이미지 등록</a></li>

                                            </ul>
                                        </div>

                                        <div id="tabCont1_2" class="tabCont" style="display: block;">
                                            <div class="gEditor">
                                                <input type="file" multiple name="itemDetailImgFile"  class="btnNormal imageupload" imagekey="d_image">
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div id="QA_register2" class="section" style="margin-top: 25px">
                    <div class="mToggleBar eToggle selected">
                        <h2>판매 정보</h2>
                        <div class="ctrl">

                        </div>
                    </div>
                    <div class="toggleArea" style="display:block;">
                        <div class="mBoard gSmall gGuide">
                            <table border="1" summary="">
                                <caption>판매 정보</caption>
                                <tbody>
                                <tr>
                                    <th scope="row">판매가 <strong class="icoRequired">필수</strong></th>
                                    <td>
                                        <div class="gIcoShop">

                                            <input type="text" th:field="*{price}" id="product_price" name="product_price[1]" class="fText ePrdPrice" shop_no="1" placeholder="예시) 38,000" fw-filter="isFill&amp;isPrice" fw-label="판매가" style="width:100px;"> 원                                                    </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th >상품 재고 </th>
                                    <td>
                                        <div>
                                        <input type="text" th:field="*{stockNumber}"  name="stockNumber" class="fText ePrdPrice" shop_no="1" placeholder="예시) 1,000"  style="width:100px;"> 개
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>브랜드 </th>
                                    <td>

                                        <select class="fSelect" th:name="brandId" th:field="*{brandId}" id="brands" style="width:100px;">
                                            <option th:each="brand : ${brands}"
                                                    th:value="${brand.getId()}"
                                                    th:text="${brand.getBrandNm()}"
                                            >
                                            </option>
                                        </select>
                                        <a href="#mLayerBrand" class="btnNormal eModal"><span>등록</span></a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="QA_register3" class="section">
                    <div class="mToggleBar eToggle selected">
                        <h2>표시 설정</h2>

                    </div>
                    <div class="toggleArea" style="display:block;">
                        <div class="mBoard gSmall gGuide">
                            <table border="1" summary="">
                                <caption>표시 설정</caption>
                                <tbody>
                                <tr>
                                    <th scope="row" rowspan="2">표시상태설정</th>
                                    <td>
                                        <div class="gIcoShop">
                                            <label class="gLabel">
                                                <input type="radio" th:field="*{itemDisplayStatus}" th:value="DISPLAY"  class="form-check-input" name="itemDisplayStatus">

                                                진열함</label>
                                            <label class="gLabel eSelected">
                                                <input type="radio" th:field="*{itemDisplayStatus}" th:value="NOT_DISPLAY"  class="form-check-input" name="itemDisplayStatus">

                                                진열안함</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="gIcoShop">

                                            <label class="gLabel">
                                                <input type="radio" th:field="*{itemSellStatus}" th:value="SELL"  class="form-check-input" name="itemSellStatus">

                                                판매함</label>
                                            <label class="gLabel eSelected">
                                                <input type="radio" th:field="*{itemSellStatus}" th:value="SOLD_OUT"  class="form-check-input" name="itemSellStatus">

                                                판매안함</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">상품분류선택</th>
                                    <td>

                                        <div class="mSearchSelect typeCategory gDouble">
                                            <table border="1" summary="">
                                                <caption>분류</caption>
                                                <colgroup>
                                                    <col style="width:25%" span="4">
                                                </colgroup>
                                                <thead>
                                                <tr>
                                                    <th scope="col" class="center">대분류</th>
                                                    <th scope="col" class="center">중분류</th>
                                                    <th scope="col" class="center">소분류</th>
                                                    <th scope="col" class="center">상세분류</th>
                                                </tr>
                                                </thead>
                                                <tbody class="_category_select_body">

<!--                                                onclick은 카테고리 표시, 선택된 상품 분류에 대한 처리-->
                                                <tr>
                                                    <td>
                                                        <div class="list ">
                                                            <!--대분류-->
                                                            <ul  class="_ABC" style="padding: 1px 11px 0px;">
                                                                <th:block th:each = "category1 : ${depth1}">
                                                                <li th:text ="${category1.title}" th:data-index="${category1Stat.index}" th:data-title="${category1.title}"
                                                                    th:onclick="|javascript:change_category('D_1__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|"></li>

                                                                 </th:block>
                                                            </ul>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="list">
                                                            <!--중분류-->
                                                            <ul  class="_A_childs" style="display: none" >
                                                                <th:block th:each = "category2A : ${depth1.get(0).getChildCategories()}">
                                                                <li th:text="${category2A.title}" th:data-index="${category2AStat.index}" th:data-title="${category2A.title}"
                                                                    th:onclick="|javascript:change_category('D_2A__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <!-- 식품의 자식은 모두 depth2.  depth3 소분류가 없음-->
                                                            <ul class="_B_childs" style="display: none">
                                                                <th:block th:each = "category2B : ${depth1.get(1).getChildCategories()}">
                                                                    <li  th:text="${category2B.title}" th:data-index="${category2BStat.index}" th:data-title="${category2B.title}"
                                                                         th:onclick="|javascript:change_category('D_2B__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|") ></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_C_childs" style="display: none">
                                                                <th:block th:each = "category2C : ${depth1.get(2).getChildCategories()}">
                                                                    <li th:text="${category2C.title}" th:data-index="${category2CStat.index}" th:data-title="${category2C.title}"
                                                                        th:onclick="|javascript:change_category('D_2C__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|") ></li>
                                                                </th:block>
                                                            </ul>

                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="list">
                                                            <!--소분류-->
                                                            <!-- MEN_T_SHIRT-->
                                                            <ul class="_A_childs_0" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(0).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A0__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
<!--                                                            // 여기하는중-->
                                                            <ul class="_A_childs_1" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(1).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A1__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_A_childs_2" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(2).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A2__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_A_childs_3" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(3).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A3__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_A_childs_4" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(4).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A4__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_A_childs_5" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(5).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A5__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_B_childs_0" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(6).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3A1__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_B_childs_1" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(7).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3BB__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_B_childs_2" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(8).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3BC__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_B_childs_3" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(9).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3BD__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_B_childs_4" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(10).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3BE__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_C_childs_0" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(11).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3C0__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                            <ul class="_C_childs_1" style="display: none">
                                                                <th:block th:each ="category3 : ${depth2.get(12).getChildCategories()}"  >
                                                                    <li  th:text="${category3.title}" th:data-index="${category3Stat.index}" th:data-title="${category3.title}"
                                                                         th:onclick="|javascript:change_category('D_3CB__'+this.getAttribute('data-index'),this.getAttribute('data-title'))|")></li>
                                                                </th:block>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>


                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <p class="gDouble">
                                            <span class="icoDot"></span>
                                            <strong class="gWidth wPrdCategory" style="width: 91px">선택된 상품분류</strong>
                                            <span class="_product_category_none">
                                </span>
                                            <span style="display:none;" class="_product_category_checked">
<!--                                                update_depth()함수에서 마지막에 mainCategory,subCategory,subSubCategory의 value를 추가함-->
                                    <input type="hidden" th:name="mainCategory" id="mainCategory" th:field="*{mainCategory}" class="_selected_category_no" value="" >
                                                <input type="hidden" th:name="subCategory" id="subCategory" th:field="*{subCategory}" class="_selected_category_no" value="" >
                                                <input type="hidden" th:name="subSubCategory" id="subSubCategory" th:field="*{subSubCategory}" class="_selected_category_no" value="" >
                                    <span class="txtLight txtLess depth1" >test</span>
                                                <span class="txtLight txtLess depth2" ></span>
                                                <span class="txtLight txtLess depth3" ></span>

                                    <a href="#none" onclick="update_depth()" class="btnNormal _add_selected_category"><span> 등록</span></a>

                                </span>
                                            <input type="hidden" name="checked_category">
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div id="QA_register5" class="section">
                    <div class="mToggleBar eToggle selected">
                        <h2>이미지 정보</h2>
                        <div class="ctrl">

                        </div>
                    </div>
                    <div class="toggleArea" style="display:block;">
                        <div class="mBoard gSmall gGuide">
                            <table border="1" summary="">
                                <caption>이미지 정보</caption>
                                <tbody>
                                <tr>
                                    <th scope="row">상품이미지등록</th>
                                    <td>
                                        <div class="gIcoShop">

                                            <div class="gAddInfo">
                                                <div class="gLeft">
                                                    <span class="figure" id="eDetailImage"><a href="#none" style="cursor:default;"><img src="//img.echosting.cafe24.com/thumb/108x108_2.gif" width="108" height="108" alt=""></a></span>
                                                    <span class="figure" id="eListImage" style="display:none;"><a href="#none" style="cursor:default;"><img src="//img.echosting.cafe24.com/thumb/108x108_2.gif" width="108" height="108" alt=""></a></span>
                                                    <span class="figure" id="eTinyImage" style="display:none;"><a href="#none" style="cursor:default;"><img src="//img.echosting.cafe24.com/thumb/108x108_2.gif" width="108" height="108" alt=""></a></span>
                                                    <span class="figure" id="eMainImage" style="display:none;"><a href="#none" style="cursor:default;"><img src="//img.echosting.cafe24.com/thumb/108x108_2.gif" width="108" height="108" alt=""></a></span>
                                                    <span class="button">
                                            <div id="dFlashImageArea" class="btnFlash"><span id="dFlashImageButton"></span></div>
                                            <input type="file" multiple name="itemImgFile" class="btnNormal imageupload" imagekey="d_image">
                                            <a href="#none" class="btnNormal btnImageDelete" style="display:none;"><span> 등록</span></a>

                                        </span>
                                                </div>
                                                <div class="gAdd">
                                                    <ul class="txtInfo register">
                                                        <li class="light">권장이미지 : 500px * 500px / 5M 이하 / gif, png, jpg(jpeg)</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="mButton gCenter">
                    <th:block th:if="${#strings.isEmpty(itemFormDto.id)}">
                        <button th:formaction="@{/admin/item/new}"  method="post" type="submit" class="my-button btn-primary">저장</button>
                    </th:block>
                    <th:block th:unless="${#strings.isEmpty(itemFormDto.id)}">
                        <button th:formaction="@{'/admin/item/management/' + ${itemFormDto.id}}" type="submit" method="post" class="my-button btn-primary">수정</button>
                    </th:block>
                    <a th:href="@{/admin/item/management}" class="my-button btn-outline-secondary">취소</a>
                </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>

    </div>
</div>

</html>