<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/detail.css}" rel="stylesheet">
    <link th:href="@{/css/detail_reset.css}" rel="stylesheet">
    <script rel ="script" type="text/javascript" src="/js/detail.js"></script>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function order(){
            console.log("start_order")
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    //
                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }
        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">
    <body>
    <input type="hidden" id="itemId" th:value="${item.id}">
    <input type="hidden" id="itemPrice" th:value="${item.price}">
    <main id="order_wrap">
        <div class="left">

            <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}">
        </div>
        <div class="right">
            <div class="top">
                <span th:if="${item.itemSellStatus == T(com.shoppingmall.project_shoppingmall.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
                판매중
                </span>
                <span th:unless="${item.itemSellStatus == T(com.shoppingmall.project_shoppingmall.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
                품절
                </span>
                <h1 th:text="${item.itemNm}"></h1>
                <p th:text="${item.itemDetail}"></p>
                <dl>
                    <dt>판매가격</dt>
                    <dd class="price" th:text="${#numbers.formatInteger(item.price,0,'COMMA') + '원'}"></dd>
                    <dt>적립금</dt>
                    <dd>1%</dd>
                    <dt>원산지</dt>
                    <dd>대한민국</dd>
                </dl>
                <div class="number">
                    <p class="order_name" th:text= "${item.itemNm}"></p>
                    <div class="order_number">
                        <!-- <input type="number" name="num" id=""> -->
                        <span class="number_price" th:text="${#numbers.formatInteger(item.price,0,'COMMA') + '원'}"></span>
                    </div>
                </div>
                <div class="container1">
                    <button id="minus" disabled>-</button>
                    <!-- <button id="minus" disabled><img src="/copang_login/copang_detail/images/minus_round_icon.svg" alt=""></button> -->
                    <input type="number" id="count" value="1" min="1" max="9">
                    <!-- <button id="plus"><img src="/copang_login/copang_detail/images/plus_new_icon.svg" alt=""></button> -->
                    <button id="plus">+</button>

                </div>
                <div class="total_price">
                    <p>총 상품 금액</p>
                    <span class="result_price" th:text="${#numbers.formatInteger(item.price,0,'COMMA') + '원'}"></span>
                </div>
            </div>
            <div class="bottom">
                <button type="button" id="order_btn" onclick="order()">주문하기</button>
                <button type="button" id="cart_btn" onclick="addCart()">장바구니</button>
                <button type="button" id="like_btn">찜하기</button>
            </div>
        </div>
    </main>

    </body>
</div>

</html>