bTxtArr.push({
bannerImage: '/mobile/banner/1d3700da-06a2-46be-9078-846ba5864e5e-1754626877793.png'
, linkUrl: 'https://karymarket.com/event/newSemester'
, title: '캐리마켓 스쿨'
});



bTxtArr.push({
bannerImage: '/mobile/banner/b0a11653-23fe-4d4f-b0e3-e89fcbd89d11-1754035460355.png'
, linkUrl: 'https://karymarket.com/event/reviewEvent?areaSeq=981'
, title: '리뷰 이벤트'
});



bTxtArr.push({
bannerImage: '/mobile/banner/c300305c-962b-4030-93f4-f1a575247341-1754630061907.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=6777'
, title: '베이비 등원 룩'
});



bTxtArr.push({
bannerImage: '/mobile/banner/0760b12d-f7f4-45fe-8682-e7e21fd5ef20-1754630064618.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=6778'
, title: '신학기 패션'
});



bTxtArr.push({
bannerImage: '/mobile/banner/1cca61d3-f5ca-4af5-b3c0-52f8e4116ced-1754628456203.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=5326'
, title: '8월 주니어 패션'
});



bTxtArr.push({
bannerImage: '/mobile/banner/d23b9c6c-c424-4f4d-926a-24c2ed2258f6-1754873997815.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=6779'
, title: '가을 아우터'
});



bTxtArr.push({
bannerImage: '/mobile/banner/47dd2d8b-c4ce-4622-8b41-d3476e0a932c-1754628462053.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=5796'
, title: '신발·액세서리'
});



bTxtArr.push({
bannerImage: '/mobile/banner/a97c99e9-eae5-4498-b912-d0fd37388c84-1754628464715.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=6784'
, title: '문구·완구'
});



bTxtArr.push({
bannerImage: '/mobile/banner/da7e2193-4fb7-418c-a9f8-313aecf85e08-1754628467309.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=6785'
, title: '낮잠 이불'
});



bTxtArr.push({
bannerImage: '/mobile/banner/a13516ea-d2dd-4c8c-ad31-d01716f891ab-1754628470206.png'
, linkUrl: 'https://karymarket.com/ar/ex?exSeq=6786'
, title: '어린이집 준비물'
});



bTxtArr.push({
bannerImage: '/mobile/banner/99295131-c743-4711-a67c-5e4fbc18deee-1754545742412.png'
, linkUrl: 'https://karymarket.com/class/curation/482'
, title: '배쓰프로젝트 팝업'
});



bTxtArr.push({
bannerImage: '/mobile/banner/849f6844-51be-4052-a91d-a2fd245b946d-1744354991181.png'
, linkUrl: 'https://karymarket.com/category?categoryCode=C22'
, title: '캐리마켓 신사'
});



bTxtArr.push({
bannerImage: '/mobile/banner/b8827a2b-3482-4314-a9cb-d58dfd422e71-1744354991309.png'
, linkUrl: 'https://www.karymarket.com/class/list?year=2025&month=8'
, title: '클래스 신청'
});



bTxtArr.push({
bannerImage: '/mobile/banner/83c394b8-9359-465f-aa99-b0f172cfd0a9-1754035353368.png'
, linkUrl: 'https://membership.thekary.com/event/detail/461'
, title: '회원 혜택'
});